





/*____________START Login____________*/

.mt-checkbox > span:after {
    right: -7px !important;
    top: -2px !important;
    width: 20px !important;
    height: 10px !important;
}

.md-checkbox label > .check {
    top: 0px !important;
    right: 0px !important;
    width: 20px !important;
    height: 10px !important;
}
/*____________END Login____________*/


.bootstrap-select.btn-group .dropdown-toggle .caret {
    left: -390px !important;
}